/*
    UNIVERSAL STYLING
                        */

body{
  margin:150;
  background-color: white;
  text-align: center;
}

.title a{
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

.title a:hover {
  color: red;
}

/* Navigation Bar */
.navbar {
  text-align:center;
  background-color: #485682;
  padding: 10px;
  border-bottom: 5px solid #FFC83D;
  position: sticky;
  top: 0px;
}

.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li{
  display: inline-block;
  position: relative;
}

.navbar a{
  font-family: sans-serif;
  font-size: 1.5em;
  color: #f0f3fc;
  text-decoration: none;
  margin: 15px;
}

.navbar a:hover{
  color: #293454;
}

.navbar #current-page {
  color: #FFC83D;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 1.5em;
  color: #f0f3fc;
  margin: 15px;
  margin-left: 50px;
}


.main-page {
  display: flex;
}

.left-block {
  width: 30%;
  height: 500px;
  padding: 50px;
  background-color: rgb(214, 233, 255);
}

.description-text {
  color: black;
}

.center-block {
  width: 40%;
  background-color: pink;
}

.right-block {
  width: 30%;
  background-color: rgb(255, 194, 194);
}

.mission-page {
  text-align: justify;
}

.mission-page p, h2{
  margin-left, margin-right: : 100px;
}

h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 2em;
  margin-left: 100px;
  margin-right: 100px;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin-left: 100px;
  margin-right: 100px;
}

.image-block {
  display: flex;
  justify-content: center;
}

.image-container {
  margin: 50px;
}

.image-text {
  font-size: 1.5em;
  font-family: "Paytone One", sans-serif;
}
