/*
    UNIVERSAL STYLING
                        */

body{
  margin:150;
  background-color:rgb(152, 174, 199);
  text-align: center;
}

.title a{
  color: rgb(54, 80, 109);
  text-decoration: none;
  font-size: 2em;
}

.title a:hover {
  color: rgb(36, 56, 78);
  text-decoration: none;
}

/* Navigation Bar */
.navbar {
  text-align:center;
  background-color: white;
  padding: 10px;
  border-bottom: 5px solid rgb(255, 218, 198);
  position: sticky;
  top: 0px;
}

.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li{
  display: inline-block;
  position: relative;
}

.navbar a{
  font-family: sans-serif;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  margin: 15px;
}

.navbar a:hover{
  color: #293454;
}

.navbar #current-page {
  color: #FFC83D;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 1.5em;
  color: #f0f3fc;
  margin: 15px;
  margin-left: 50px;
}

.main-page {
  display: flex;
  height: 500px;
}

.left-block {
  width: 30%;
  padding: 25px;
  background-color: rgb(255, 194, 194);
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
  margin: 15px;
}

.description-text {
  color: rgb(54, 80, 109);
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
  text-align: left;
}

.center-block {
  width: 40%;
  padding: 25px;
}

.center-text {
  color: rgb(54, 80, 109);
  font-family: 'Paytone One', sans-serif;
  font-size: 2.5em;
  text-align: center;
}

.find-button {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

.right-block {
  width: 30%;
  background-color: rgb(255, 194, 194);
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
  margin: 15px;
}

.right-text {
  color: rgb(54, 80, 109);
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
  text-align: center;
}

.city-dates {
  color: rgb(54, 80, 109);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

/* local elections page */

.local-page {
  display: flex;
  flex-direction: column;
  background-color: #E0EBF8;
  padding: 75px 50px 2000px;
}

.search-title {
  font-family: "Paytone One", sans-serif;
  font-size: 1.5em;
}

.search-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.search-bar {
  background-color: white;
  height: 50px;
  width: 600px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
}

.search-bar img {
  height: 40px;
  margin-left: 10px;
}

.search-block button {
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

/* mission page */

.mission-page {
  text-align: justify;
  background-color: #E0EBF8;
  padding: 75px 100px 315px;
}

.mission-page p, h2{
  margin-left: 100px;
  margin-right: 100px;
  
}

h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 2em;
  margin-left: 100px;
  margin-right: 100px;
  
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin-left: 100px;
  margin-right: 100px;
}

/* presidential page */

.image-block {
  display: flex;
  justify-content: center;
}

.image-container {
  margin: 50px;
}

.image-text {
  font-size: 1.5em;
  font-family: "Paytone One", sans-serif;
  
}

/*.contact-page {

}*/

.about-block {
  display: flex;
  margin-left: 50px;
  
}

.about-text-block {
  text-align: left;
  margin-left: 50px;
  margin-right: 100px;
}

.about-pic {
  width: 200px;
}

.name {
  font-family: "Paytone One", sans-serif;
}
